.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1140px;
  margin: auto;
}

.app__left {
  width: 25%;
}

.app__right {
  width: 25%;
}

.app__middle {
  width: 50%;
}
